:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

* {
    font-family: "Space Mono", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
input,
label,
p,
span {
    padding: 0px;
    margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: var(--Light-grayish-cyan);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container {
    background-color: var(--White);
    min-width: 800px;
    border-radius: 20px;
}

.card {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.input-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--Dark-grayish-cyan);
}

.bill-sec,
.tip-sec,
.people-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.people-sec {
    position: relative
}

#error {
    font-size: .9rem;
    position: absolute;
    top: 90px;
    left: 40px;
    color: hsla(0, 100%, 51%, 0.822);
    display: none;
}

.bill-input,
.people-input {
    position: relative;
}

.bill-input input,
.people-input input {
    text-align: right;
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    outline-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.bill-input img,
.people-input img {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%)
}

.people-input.error input {
    border: 2px solid hsla(0, 100%, 51%, 0.822);
    outline: none;
}

.tip-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tip-buttons div {
    display: flex;
    gap: 10px;
}

.tip-buttons button {
    font-size: 1.1rem;
    width: 90px;
    color: var(--White);
    border: none;
    background-color: var(--Very-dark-cyan);
    padding: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    flex-grow: 1;
}

.tip-buttons button:hover {
    background-color: var(--Dark-grayish-cyan);
}

.tip-buttons button.active,
.tip-buttons input.active {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.tip-buttons input {
    background-color: var(--Very-dark-cyan);
    border: none;
    width: 90px;
    padding: 10px;
    border-radius: 7px;
    background-color: var(--Very-light-grayish-cyan);
    text-align: center;
    font-size: 1.1rem;
    flex-grow: 1;
    outline: none;

}

.calc-sec {
    background-color: var(--Very-dark-cyan);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: var(--White);
    gap: 70px;

}

.tip-amount,
.bill-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-amount p,
.bill-total p {
    font-size: 1.2rem;
}

.tip-amount span,
.bill-total span {
    color: var(--Grayish-cyan);
    font-size: .8rem;
}

p.tip-person,
p.total-person {
    font-size: 2.5rem;
    color: var(--Strong-cyan);
}

.reset-btn {
    margin-top: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--Strong-cyan);
    font-size: 1.3rem;
    color: var(--Very-dark-cyan);
    cursor: pointer;
}

.reset-btn:hover {
    background-color: var(--Light-grayish-cyan);
}

.reset-btn:active {
    background-color: var(--Dark-grayish-cyan);
}

@media (max-width:850px) {

    body>img {
        margin-top: 30px;
    }

    .card {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .container {
        min-width: 80%;
    }
}

@media (max-width:500px) {
    .calc-sec {
        gap: 30px;
    }

    p.total-person,
    p.tip-person {
        font-size: 2rem;
    }
}